{% extends 'base.html' %}
{% block content %}
{% load static %}
<h3 class="border-bottom mt-5 mb-5 mr-5 ml-5" > من نحن </h3>

        <img src="{% static 'images/brainstorming.png' %}" class="rounded mx-auto d-block" alt="logo" width="350px">
        <br><br>
            <figure class="text-center">
                <p>  <b>شاوِر</b>  هي منصة تأسست في 2022  تقدم خدمات الاستشارة و كل مايتعلق في اتخاذ القرار  جمعنا لك الخبراء من جميع المجالات 
                     <br>عشان نوفر عليك وقتك وجهدك وعناء التفكير والحيرة  بطريقة احترافية وسرية تامة</p>
           </figure>
{% endblock content %}